@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



.demo{
    background-color: blue;
    color: white;
    width: 90px;
    height: 50px;
}
.center{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
}